@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
  margin: 0px;  
  padding: 0px;
}
body{
    margin: opx auto;
    font-family: 'Open Sans', sans-ser;
    background-color: white;


}